.profile__name-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media screen and (max-width: 750px) {
    .profile__name-section {
        margin-top: 26px;
        justify-content: center;
        transform: translateX(14px);
    }
}