.page__content {
    width: 100%;
    margin: 40px auto 66px;
}
  
  @media screen and (max-width: 960px){
    .page__content {
        width: 88.1%;
    }
  }
  
  @media screen and (max-width: 640px){
    .page__content {
        margin: 42px auto 48px;
    }
  }