.profile__add-button {
    background-image: url(../../../images/add-button.svg);
    background-color: inherit;
    width: 150px;
    height: 50px;
    position: right;
    border: none;
    cursor: pointer;
    padding: 0;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .profile__add-button {
        background-image: url(../../../images/add-button-320.svg);
        width: 282px;
        margin-top: 32px;
    }
}