.button_type_like {
    grid-area: like;
    width: 20.76px;
    height: 18.13px;
    background-image: url(../../../../images/like-button.svg);
    background-size: cover;
    background-color: inherit;
    padding: 0;
}

.button_type_like:hover {
    opacity: 0.5;
}

.button_type_like:active {
    background-image: url(../../../../images/like-button-active.svg);
    opacity: 1;
}